@import "../fonts/glober.css";
@import '../reset_css/reset.css';
@import "variables/variables.css";
@import "header/header";





body {
  font-family: Glober;
  font-weight: 400;
  font-size: 16px;
  color: var(--white);
  background: var(--black);
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
