.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .list-item {
    margin: 0 30px 0 0;
    cursor: pointer;
    transition: all ease .4s;
    &:hover {
      color: var(--primary-2);
    }
    &:last-child {
      margin: 0;
    }
  }
}
.nav-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  padding: 0 67px 0 0;
}
.header-btn {
  padding: 13px 58px;
  color: var(--white);
  border: 1px solid var(--primary-2);
  border-radius: 5px;
  font-size: 16px;
  text-transform: uppercase;
  transition: all ease .4s;
  &:hover {
    background: var(--primary-2);
    border: 1px solid transparent;
  }
}