@font-face {
    font-family: 'Glober';
    src: local('Glober Thin Free'), local('GloberThinFree'), url('globerthin.woff2') format('woff2'), url('glober_thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Glober';
    src: local('Glober Regular Free'), local('GloberRegularFree'), url('glober_regular.woff2') format('woff2'), url('glober_regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Glober';
    src: local('Glober Bold Free'), local('GloberBoldFree'), url('glober_bold.woff2') format('woff2'),  url('glober_bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
